<% provide(:title, 'Create a new rumor') %>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.label :image %>
      <%= f.text_field :image %>

      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>